.weight-log-edit-weight {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}

/* Weight Log Page */
.weight-log-page--week-and-avg {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
